* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --v-dark-blue: hsl(212, 21%, 14%);
  --dark-gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --p-font: 0.875;
  --m-font: "Montserrat", sans-serif;
  --f-font: "Fraunces", sans-serif;
  --sm-m-font: 500;
  --lg-m-font: 700;
  --f-font-weight: 700;
}

body {
  min-height: 100vh;
  background-color: var(--cream);
  font-size: var(--p-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: var(--white);
  width: 50%;
  display: flex;
}

img {
  width: 70%;
}

.info {
  margin-left: 2rem;
}

.heading, .description, .old-price, button {
  font-family: var(--m-font);
  font-weight: var(--sm-m-font);
}
.title, .new-price {
  font-family: var(--f-font);
  font-weight: var(--f-font-weight);
}
.heading, .description, .old-price {
  color: var(--dark-gray-blue);
}

.new-price {
  color:var(--dark-cyan);
}

.heading {
  text-transform: uppercase;
}

button {
  background-color: var(--dark-cyan);
  color: var(--white);
  font-weight: var(--lg-m-font);
}












/* Author Styles */
.attribution { font-size: 11px; text-align: center; } 
    .attribution a { color: hsl(228, 45%, 44%); } 