* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --v-dark-blue: hsl(212, 21%, 14%);
  --dark-gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --p-font: 0.875;
  --m-font: "Montserrat", sans-serif;
  --f-font: "Fraunces", sans-serif;
  --sm-m-font: 500;
  --lg-m-font: 700;
  --f-font-weight: 700;
}

body {
  height: 100vh;
  background-color: var(--cream);
  font-size: var(--p-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: var(--white);
  max-width: 50%;
  display: flex;
  border-radius: 10px;
 
}

.desktop-image {
  max-width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.mobile-image {
  display: none;
}

.info {
  margin-left: 2rem;

}

.heading, .description, .old-price, button {
  font-family: var(--m-font);
  font-weight: var(--sm-m-font);
}
.title, .new-price {
  font-family: var(--f-font);
  font-weight: var(--f-font-weight);
}
.heading, .description, .old-price {
  color: var(--dark-gray-blue);
}

.new-price {
  color:var(--dark-cyan);
}

.heading {
  text-transform: uppercase;
  margin-top: 2rem;
}

.title {
  width: 15rem;
  margin-top: 1rem;
}
.description {
  text-wrap: wrap;
  margin-top: 2rem;
}

.new-price {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.old-price {
  position: relative;
  left: 8rem;
  bottom: 1.7rem;
  font-size: 1rem;
  text-decoration: line-through;
}
button {
  background-color: var(--dark-cyan);
  color: var(--white);
  font-weight: var(--lg-m-font);
  border: solid var(--dark-cyan);
  border-radius: 5px;
  width: 15rem;
  height: 3rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--v-dark-blue);
  border: solid var(--v-dark-blue);
}












/* Author Styles */
.attribution { font-size: 11px; text-align: center; } 
    .attribution a { color: hsl(228, 45%, 44%); } 